{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block body %}

{% load static %}

<style>
    .area {
        padding:50px 50px 0 50px;
    }
</style>

<div class="area">
    <div class="row">
        <div class="col-sm-4">
            <div class="card text-white bg-primary mb-3">
                <h4 class="card-header">Books</h4>
                <div class="card-body d-flex flex-row justify-content-between">
                    <h5 class="card-title">Total</h5>
                    <h5 class="d-flex">{{book.count}}</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-white bg-success mb-3">
                <h4 class="card-header">Students</h4>
                <div class="card-body d-flex flex-row justify-content-between">
                    <h5 class="card-title">Total</h5>
                    <h5 class="d-flex">{{student.count}}</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-white bg-danger mb-3">
                <h4 class="card-header">Borrow-Lists</h4>
                <div class="card-body d-flex flex-row justify-content-between">
                    <h5 class="card-title">Total</h5>
                    <h5 class="d-flex">{{borrow.count}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}